TP_3.cbp
.cproject
.project
.settings/language.settings.xml
Debug/facto.d
Debug/facto.o
Debug/gtest/gtest/gtest-all.d
Debug/gtest/gtest/gtest-all.o
Debug/gtest/gtest/subdir.mk
Debug/makefile
Debug/objects.mk
Debug/sources.mk
Debug/subdir.mk
Debug/temp
Debug/test/subdir.mk
Debug/test/test_facto.d
Debug/test/test_facto.o
Debug/test/testmain.d
Debug/test/testmain.o
facto.cpp
gtest/gtest/gtest-all.cc
gtest/gtest/gtest.h
inc/facto.h
main.o
test/test_facto.cpp
test/testmain.cpp
Debug/
gtest/gtest-all.cc
gtest/gtest.h
testmain - Copie.cpp
